<!doctype html>
<html lang="en" ng-app ="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js" /></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as narrowItCtrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="narrowItCtrl.searchTerm">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="narrowItCtrl.narrowItDown();">Narrow It Down For Me!</button>
    </div>
    <div style="clear: both;"></div>

    <div class="alert alert-danger" ng-if="narrowItCtrl.errorMsg">{{narrowItCtrl.errorMsg}}</div>

    <div id="grid">

      <found-items
        items="narrowItCtrl.found"
         on-remove="narrowItCtrl.removeItem(index)"></found-items>
      <!-- <ul>
        <li ng-repeat="item in narrowItCtrl.found" style="list-style: none;margin-bottom:10px">
          <div class="row">
              <div class="col-xs-12 col-md-8">{{item.name + ", " + item.short_name + ", " + item.description}}</div>
              <div class="col-xs-6 col-md-4"><button class="btn btn-warning btn-sm">Don't want this one!</button></div>
          </div>
        </li>
      </ul> -->
    </div>

    <!-- found-items should be implemented as a component -->
    <!-- <found-items found-items="...." on-remove="...."></found-items> -->
  </div>

</body>
</html>
